@import '~antd/dist/antd.css';
body{
    padding: 0;
    margin: 0;
}
.bodyDiv{
    
}
.ADiv{
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color: bisque;
    background-image: url('./../../images/background.jpg');
    background-size:100%;
    background-repeat:no-repeat：
}
.FormDiv{
    position: absolute;
    top:50%;
    left:50%;
    margin:-300px 0 0 -200px;
    width:400px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.inputDiv{
    width:250px;
    height:40px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    padding-left: 15px;
}
.leftDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}