@import '~antd/dist/antd.css';
body{
    padding: 0;
    margin: 0;
}
.login-form {
    min-width: 350px;
    max-width: 400px;
  }
.login-form-forgot {
    float: right;
  }
.login-form-button {
    width: 100%;
  }
.icp-selector {
    width: 60px;
  }