
.logo1 {
  display:flex;
  justify-content: center;
  align-items: center;
  height:80px;
}
.imgbig{
  width:80px;
  height:80px;
  transition: 0.3s 0s height ease;/*合在一起*/
  transition: 0.3s 0s width ease;/*合在一起*/
}
.imgsmall{
  width:50px;
  height:50px;
  transition: 0.3s 0s height ease;/*合在一起*/
  transition: 0.3s 0s width ease;/*合在一起*/
}
.imgbig:hover{
  width:85px;
  height:85px;
}
.imgsmall:hover{
  width:55px;
  height:55px;
}
.margin1{
  margin-left:80px;
  transition: 0.5s 0s margin-left ease;/*合在一起*/
}
.margin{
  margin-left: 200px;
  transition: 0.5s 0s margin-left ease;/*合在一起*/
}
.IconTypeleft{
  font-size: 22px;
  color: #fff;
}
.IconTypeleft:hover{
  font-size: 30px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#1890FF;
  }